{% extends 'base.html' %}

{% block title %}
    My experience
{% endblock %}

{% block body %}
    {% for experience in experiences %}
        <h2>{{ experience.position }}</h2>
        <h3>{{ experience.company_name }}</h3>
        <p>
        {{ experience.description|truncatewords:5 }}
        <br>
        From: {{ experience.start_date }} till:
            {% if experience.end_date is None %}
                present time
            {% else %}
                {{ experience.end_date }}
            {% endif %}
        </p>
        <a href="{{ experience.get_absolute_url }}">Go to see more information</a>
        <hr>
    {% endfor %}
{% endblock %}