{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block body %}
    {% if form.errors %}
        ERROR (check your credentials)
    {% else %}
        <h3>User login:</h3>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Login">
        </form>
    {% endif %}

    <a href="{% url "basis:password_reset" %}"> Forgot password? </a><br>

    <ul>
    <li>
            <a href="{% url 'social:begin' 'github' %}">Sign With Github</a>
        </li>
        <li>
            <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Sign With LinkedIn</a>
        </li>
    </ul>

{% endblock %}