{% extends 'base.html' %}

{% block title %}
    My education
{% endblock %}
{% block body %}
    {% for education in educations%}
        <h3>{{ education.course_name }}</h3>
        <p>
        {{ education.description|truncatewords:5 }}
        <br>
        Year of graduate: {{ education.graduated }}
        </p>
        <a href="{{ education.get_absolute_url }}">Go to see more information</a>
        <hr>
    {% endfor %}
<a href="{% url 'basis:all_experience' %}">Go see my experience</a>

{% endblock %}