{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} MY DEFAULT TITLE {% endblock %}</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<header><a href="{% url 'basis:index_page' %}">Main page</a>
<div>
    {% if request.user.is_authenticated %}
            <a href="{% url 'basis:logout' %}">logout </a><br>
            <a href="{% url 'basis:profile' %}">profile </a>
    {% else %}
            <a href="{% url 'basis:login' %}">login </a><br>
            <a href="{% url 'basis:register' %}">register </a><br>
    {% endif %}
</div>
</header>

<div class="container-flex">
    <div class="row">
        <div class="col-sm-2">
            {% block menu %}{% endblock %}
        </div>
        <div class="col-sm-10">
            {% block body %}{% endblock %}

        </div>
    </div>
    {# footer #}
    <div class="row">
        <div class="col-sm-3" >
            <small><i>Python web development</i></small>
        </div>
        <div class="col-sm-9">
            <small><i>Smatova Tatiana</i></small>

        </div>
    </div>

</div>







</body>
</html>