{% extends 'base.html' %}

{% block title %}
    Edit profile
{% endblock %}

{% block body %}
        <h3>You can edit your data:</h3>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
                {% if user.profile.subscribed_for_mailings is True %}
                    <input type="checkbox" name="subscribed_for_mailings" id="id_subscribed_for_mailings" checked="">
                    If you don't want to receive emails anymore, uncheck
                    <br>
                    Subscription email: <input type="email" name="subscription_email" value={{ user.profile.subscription_email }} class="vTextField" maxlength="254" id="id_subscription_email">
                {% else %}
                    <label>
                        <input type="checkbox" name="subscribed_for_mailings" id="id_subscribed_for_mailings">
                        I want to subscribe for mailing news
                    </label>
                    <p><label>
                        Send news on my email:
                        <input type="email" name="subscription_email" class="vTextField" maxlength="254" id="id_subscription_email">
                    </label></p>

                {% endif %}
            <p><input type="submit" value="Update"></p>
        </form>



{% endblock %}





