{% extends 'base.html' %}
{% block title %}
    Index Page
{% endblock %}
{% block body %}

    <p><a href="{% url 'basis:all_education' %}"> Education </a></p>
    <p><a href="{% url 'basis:all_experience' %}">Experience</a></p>
    <p><a href="{% url 'basis:portfolio' %}">Portfolio</a></p>
    <p><a href="{% url 'basis:contacts' %}">Contacts</a></p>
    <p><a href="/media/documents/Smatova_T_CV.pdf" download>Download my CV</a></p>
    <p><a href="{% url 'basis:upload_documents' %}">Upload document</a></p>
{% endblock %}
