{% extends 'base.html' %}

{% block title %}
    News
{% endblock %}
{% block body %}
    <h1>Last news</h1> {{ news.created }}
    {% for news in today_news%}
        <h3>{{ news.title }}</h3>
        <a href="{{ news.link }}">Read this news</a>
        <p>

        </p>
    {% endfor %}

<h4>I want to receive news by mail</h4>
        <form action="." method="post">
            {{ mailing_form.as_p }}
            {% csrf_token %}
            <label>
                <input type="submit" value="Subscribe">
            </label>
        </form>
        <hr>


{% endblock %}