{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <p>{{ user.user }}</p>
    <p><h3>Hello, {{ user.username }} !</h3></p>
    <p><b>your e-mail: </b>{{ user.email }}</p>
    <p><b>Subscription email: </b>{{ user.profile.subscription_email }}</p>
    <p><b>Subscribed for news:  </b>{% if user.profile.subscribed_for_mailings is True %}
            Yes
        {% else %}
            No
        {% endif %}
    </p>
    <a href="{% url "basis:edit_profile" %}">edit profile </a><br>
{% endblock %}